.text-shadow {
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

.img_recipe {
    max-width: 100%;
    height: 300px;
    width: 300px;
  }

  .card {
    background-color: #FFB9BB;
  }

  body {
    background-image: url("https://st3.depositphotos.com/4521519/14818/v/380/depositphotos_148189403-stock-illustration-smoothie-set-healthy-food-isolated.jpg");
   }