{% extends "base.html" %}
{% block content %}

<!-- Introduction -->
<div class="row" id="image-header">
    <div class="col s12 intro-text">
        <h4 id="home-text">Welcome to Smoothie Shack!</h4>
        <h6 id="home-text2">Enjoy our smoothie recipes and share your own</h6>
    </div>
</div>

<!-- About -->
<div class="container">
    <div class="row">
        <div class="col s12 home-text">
            <h4 class="center-align">Smoothies are great!</h4>
            <h6 class="center-align">
                As well as being delicious, smoothies have several benefits, including 
                increasing your consumption of fruits and vegetables and helping provide a 
                nutritional balance of fats, protein, carbohydrates, vitamins, and minerals, 
                providing a source of energy and protein. 
            </h6>
            <h6 class="center-align"> 
                So whether it's strawberries, apples, bananas or dark leafy green vegetables, 
                to name just a few, we have lots of recipes to get you started on your smoothie journey!
            </h6>
        </div>
    </div>
</div>

<!-- Call To Action to sign up -->
<div class="row" id="black-row">
    <div class="col s12 home-text">
        <h5 class="center-align">Create an account and share your recipes with us   <a href="{{ url_for('register') }}"  id="white-cta">Register here</a></h5>
    </div>
</div>

<!-- Call To Action to Log In -->
<div class="row" id="black-row">
    <div class="col s12 home-text">
        <h5 class="center-align">Have an account already?  <a href="{{ url_for('login') }}"  id="white-cta">Log In here</a></h5>
    </div>
</div>

{% endblock %}